<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
</head>
<body>
    <h1>Movie Found:</h1>
    <p><strong>Movie ID:</strong> {{movie.Movie_ID}}</p>
    <p><strong>Title:</strong> {{movie.Title}}</p>
    <p><strong>Year:</strong> {{movie.Year}}</p>
    <p><strong>Genre:</strong> {{movie.Genre}}</p>
    <p><strong>Plot:</strong> {{movie.Plot}}</p>
    <p><strong>Language:</strong> {{movie.Language}}</p>
    <p><strong>Country:</strong> {{movie.Country}}</p>
    <p><strong>Awards:</strong> {{movie.Awards}}</p>
    <p><strong>Poster: </strong><br><img src="{{movie.Poster}}" alt="Movie Poster"/></p>
</body>
 <a class="back-home" href="/">Go back to Home</a>
</html>

